.NoteSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.head {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
