.TimeGutter {
  position: relative;
}

.label {
  position: absolute;
  right: 6px;
  transform: translateY(-50%);
  font-size: var(--fs-sm);
  font-stretch: 75%;
  color: var(--muted);
  white-space: nowrap;
}
